<h1>Editar Detalle</h1>

<%= render 'form', detalle: @detalle %>

<%= link_to 'Ver', @detalle, :class => "btn btn-info text-white" %> |
<%= link_to 'Volver', detalles_path, :class => "btn btn-danger text-white" %>
