<h1>Editing Multum</h1>

<%= render 'form', multum: @multum %>

<%= link_to 'Ver', @multum, :class => "btn btn-info text-white" %> |
<%= link_to 'Volver', multa_path, :class => "btn btn-danger text-white" %>
