<h1>Editar Prestamo</h1>

<%= render 'form', prestamo: @prestamo %>

<%= link_to 'Ver', @prestamo, :class => "btn btn-info text-white" %> |
<%= link_to 'Volver', prestamos_path, :class => "btn btn-danger text-white" %>
