<h1>Editar Usuario</h1>

<%= render 'form', usuario: @usuario %>

<%= link_to 'Ver', @usuario, :class => "btn btn-info text-white" %> |
<%= link_to 'Volver', usuarios_path, :class => "btn btn-danger text-white" %>
