<h1>Editar Libro</h1>

<%= render 'form', libro: @libro %>

<%= link_to 'Ver', @libro, :class => "btn btn-info text-white" %> |
<%= link_to 'Volver', libros_path, :class => "btn btn-danger text-white" %>
